;ÿÿÿÿÜÜÜÜÜÜÜ   ÜÜÜÜÜÜÜÜ   ÜÜÜÜÜÜÜÜÜ
;  Ü฿	    Û  Û       ฿Ü  Û	   ฿Ü
;  Û  Ü฿฿฿฿฿   Û  Û฿฿Ü	Û  Û  Û฿฿Ü  Û
;  Û  Û        Û  Û  Û	Û  Û  ÛÜÜ฿  Û
;  Û  Û        Û  Û  Û	Û  Û	   Ü฿
;  Û  ฿ÜÜÜÜÜ   Û  ÛÜÜ฿	Û  Û  Û฿฿฿฿
;  ฿Ü	    Û  Û       Ü฿  Û  Û [v2.7]
;    ฿฿฿฿฿฿฿   ฿฿฿฿฿฿฿฿   ฿฿฿฿฿฿
;  ษออออออออออออออออออออออออออออออออป
;  บ  CD-player configuration file  บ
;  ศออออออออออออออออออออออออออออออออผ

; Here you can set the directory where CD data will be searched, if that's
; not it the actual dir. (There must be a \ after the dirname!)
CD_DIR=C:\CD\

; You can set here the EDITOR's name that will be start after an 'E' key.
; (You can edit in it the CD and its TRACKs name...)
EDITOR=C:\DOS\EDIT.EXE

